.movements-list {
    margin: 15px;
    border: 1px solid;
}
.movement-item {
    margin: 15px;
    padding: 10px;
    background: var(--secondary-clr);
}
    .movement-item.expense{
        border-left: 5px solid var(--negative-clr);
    }
    .movement-item.income{
        border-left: 5px solid var(--positive-clr);
    }
    .movement-item h3 {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

.movement-action{
    cursor: pointer;
    margin-left: 1em;
}
.delete-movement{
    color: var(--negative-clr);
    
}
.edit-movement{
    color: var(--dark-clr)
}
