header{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 1em;
    background: var(--dark-clr);
    color: white;
    text-transform: uppercase;
}
header img.img-logo{
    max-width: 115px;;
}