:root {
  --primary-clr: #d0eafa;;
  --secundary-clr: #eaeaea;
  --dark-clr: #1f4763;
  --positive-clr: #00a900;
  --negative-clr: red;
}
*{
  font-size: 16px;
}

.btn{
  margin-left: auto;
  padding: 10px 20px;
  border-radius: 3px;
  outline: none;
  border: none;
  transition: transform linear 150ms;
  cursor: pointer;
  background-color: var(--primary-clr);
}
.btn:hover{
  transform: scale(1.1);
}