.moviments-list {
    margin: 15px;
    border: 1px solid;
}
.moviment-item {
    margin: 15px;
    padding: 10px;
    background: var(--secundary-clr);
}
    .moviment-item.expense{
        border-left: 5px solid var(--negative-clr);
    }
    .moviment-item.income{
        border-left: 5px solid var(--positive-clr);
    }
    .moviment-item h3 {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

.moviment-action{
    cursor: pointer;
    margin-left: 1em;
}
.delete-moviment{
    color: var(--negative-clr);
    
}
.edit-moviment{
    color: var(--dark-clr)
}
